*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #121219;
}

ul{
    padding: 0;
    list-style: none;
}

body{
    background-color: #001020;
    color: #121219;
}

header{
    background: #f4f4f4;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 900px) {
    .btn-navBar button{
        display: none;
    }

    .navBar {
        display: block;
    }
} 

.active{
    color: #010111
}

.active::after{
    content: '';
    display: block;
    background: #010111;
    height: 1px;
    margin-top: 4px;
    width: 3rem;
}

.logo{
    padding: 1rem .5rem;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.navBar {
    display: block;
}

.navBar ul{
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
}
 
#btnativar{
    border: none;
    background: transparent;
    cursor: pointer;
}

#btnativar img{
    height: 2.5rem;
}

@media only screen and (max-width: 900px) {
    .header{
        display: block;
    }

    .navBar {
        display: none;
    }
    .navBar ul{
        flex-direction: column;
        padding: 1rem .5rem;
    }
}

@media only screen and (min-width: 900px) {
    .navBar {
        display: block !important;
    }
}
